/* Base */

body {
    background-color: #121725;
    background-image: url(./assets/mobile/image-host.jpg);
    background-blend-mode: overlay;
    color: #fff;
    font-family: "Chivo", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    padding: 3.875em 1.5em 1.5em;
    min-height: 100vh;
    text-align: center;
    position: relative;
}

.content {
    margin-top: 3.5625em;
}

.content_title {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.content_title span {
    color: #54E6AF;
}

.content_body {
    color: #C2CBE5;
    font-size: 0.9375rem;
    margin-top: 1em;
    line-height: 1.56;
}

.content_platforms {
    align-items: center;
    display: flex;
    gap: 1.5em;
    justify-content: space-between;
    margin-top: 2em;
}

.content_form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 3em;
}

.email-field {
    color: #FFF;
    background-color: #2C344B;
    border: none;
    border-radius: 28px;
    font-family: "Chivo", sans-serif;
    font-size: 0.875rem;
    height: 46px;
    line-height: 2;
    outline: none;
    padding: 0.625rem 2rem;
}

.submit-btn {
    color: #121725;
    cursor: pointer;
    background: #54E6AF;
    border: none;
    border-radius: 28px;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.50);
    font-family: "Chivo", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2;
    padding: 0.625rem 2rem;
}

/* Responsiveness */

@media screen and (max-width: 320px) {
    .content {
        margin-top: 1.5em;
    }    
}